<!DOCTYPE html>
<html lang="en">
  <head>
<meta charset="gbk2312">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<link href="../dist/css/bootstrap.css" rel="stylesheet">
<link href="../dist/css/bootstrap-theme.css" rel="stylesheet">

<!-- upload machine key file 1>
<link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap.min.css">
<link rel="stylesheet" href="http://blueimp.github.io/jQuery-File-Upload/css/jquery.fileupload-ui.css">
<script src="http://www.see-source.com/js/jquery-1.8.1.js"></script>
<script src="http://blueimp.github.io/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
<script src="http://blueimp.github.io/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
<script src="http://blueimp.github.io/jQuery-File-Upload/js/jquery.fileupload.js"></script>
<-->
<!-- upload file 2 -->
<script src="../js/bootstrap.file-input.js"></script>
<link href="../css/bootstrap.file-input.css" rel="stylesheet">

<style>
body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
</style>
<script type="text/javascript">
	function check_all(obj,cName)
	{
		var checkboxs = document.getElementsByName(cName);
		for(var i=0;i<checkboxs.length;i++){checkboxs[i].checked = obj.checked;}
	}
</script>
<link href="../dist/css/bootstrap-responsive.css" rel="stylesheet">
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
<link rel = 'stylesheet' href='stylesheets/jPages.css'>
</head>
<body screen_capture_injected="true">

    <!-- Static navbar -->
	
	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">

			<div class="navbar-header">
				  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				    <span class="sr-only">Toggle navigation</span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				  </button>
				  <div onclick="javascript: void(0);window.location.href='server'">
					<image src='/images/NArk-logo1.jpg' class='pull-left' width='50' height='50'> 
				  <a class="navbar-brand">
				  	Unicom Cluster Manager
				  </a>
				  </div>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
				    <li><a href="/server">Hosts</a></li>
				    <li><a href="/service">Services</a></li>
                    <li><a href="/monitor">Monitor</a></li>
                    <li><a href="http://test.mapreduce.mzhen.com:82/" target="blank">M/R-Task</a></li>
                    <li><a href="http://test.datanode1.mzhen.com:82/browseDirectory.jsp?namenodeInfoPort=50070&dir=/" target="blank">FileBrowser</a></li>
                    <li><a href="http://210.14.146.118:80/" target="blank">Alert</a></li>
				  </ul>
				  <ul class="nav navbar-nav navbar-right">
				    <li class="dropdown">
					<a id='username_id' href="/login" class="dropdown-toggle" data-toggle="dropdown">LogIn<b class="caret"></b></a>
					<ul class="dropdown-menu">
					<li id="logout_label_id"><a data-toggle="modal" data-target="#logout_id" >logout</a></li>
					</ul>
				    </li>
				  </ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<div class="modal fade" id="logout_id" tabindex="-1" role="dialog" aria-labelledby="logout modal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="logout_label">Logout</h4>
				</div>
				<div class="modal-body">
					<p> Are you sure to logout ?</p>
				</div>
				<div class="modal-footer">
					<form class="form" method="post" action="/dologout">
						<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
						<button type="submit" class="btn btn-primary" name="logoutbutton" value="true">Yes</button>
					</form>
				</div>
			</div>
		</div>
	</div>
